@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --cor0: #ffffff;
    --cor1: #3b5998;
    --cor2: #1db954;
    --cor3: #121212;
    --cor4: #333333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 200px;
    background-color: var(--cor3);
}

.main-container {
    margin: auto;
    padding: 50px 50px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: var(--cor0);
    background-color: var(--cor4);
}

div div img {
    margin-top: -20px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 180px;
    height: auto;
    cursor: default;
}
div div h1 {
    margin-bottom: 20px;
    cursor: default;
}

div div input.btn {
    margin-bottom: 15px;
    width: 250px;
    height: 40px;
    display: block;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: var(--cor4);
    background-color: var(--cor0);
    cursor: pointer;
}

div div.remember{
    display: flex;
    align-items: center;
}

div div p#lembrar {
    margin-right: 110px;
    font-weight: bold;
    font-size: 15px;
    cursor: default;
}

div div input#check {
    cursor: pointer;
}

div hr {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 250px;
    color: var(--cor3);
}

div div input#ent, #fcb {
    margin: 15px;
    width: 250px;
    height: 40px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    color: var(--cor0);
    background-color: var(--cor2);
    cursor: pointer;
}

div div input#fcb {
    color: var(--cor0);
    background-color: var(--cor1);
}

div div input#ent:hover {
    color: var(--cor2);
    background-color: var(--cor0);
}

div div input#fcb:hover {
    color: var(--cor1);
    background-color: var(--cor0);
}

div p#cont {
    margin-top: 40px;
    margin-bottom: -30px;
    font-size: 15px;
    cursor: default;
}

div p a {
    text-decoration: none;
    color: var(--cor2);
}

footer {
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: var(--cor0);
}

footer a:hover {
    color: var(--cor2);
}