@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --cor0:#FFFFFF;
    --cor1:#3B5998;
    --cor2:#1DB954;
    --cor3:#121212;
    --cor4:#333;
}

*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 250px;
    margin-top: 20px;
    margin-right: 25px;
}

body{
    background-color: var(--cor3);
}

.main-container{
    margin-top: 100px;
    align-content: center;
    align-items: center;
    display: flex;
    background: var(--cor4);
    width: 470px;
    height: 700px;
    flex-direction: column;
    border-radius: 2%;
}

div h2 {
    color: var(--cor0);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

div h1 {
    color: var(--cor0);
    font-size: 30px;
    margin-bottom: 30px;
}

.login {
    margin: 5px;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
}

#lemb {
    color: var(--cor0);
    margin-top: 30px;
    text-align: center;
}

#chec {
    margin-left: 140px;
    text-align: center;
    cursor: pointer;
}

.enfb {
    font-weight: bold;
    color: var(--cor3);
    border-radius: 50px;
    margin-top: 30px;
    border: none;
    padding: 16px;
    text-align: center;
    width: 300px;
    height: 60px;
    cursor: pointer;
}

#ent {
    color: var(--cor2);
}

#fb {
    background-color: var(--cor1);
    color: var(--cor0);
}

hr {
    color: var(--cor3);
    width: 300px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#cont {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--cor0);
}

p a {
    text-decoration: none;
    color: var(--cor2);
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
    cursor: pointer;
}